.title {

font-size: 50px;

}

.content {
    padding: 20px;
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.6; /* Set the line height for better readability */
    margin-bottom: 20px; /* Add some space below each paragraph */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  }
  
  .content p {
    margin-bottom: 10px; /* Add space between paragraphs */
  }
  

  .flex-container {
    display: flex;/* Add space between the inline elements */
    align-items: center; /* Align items vertically in the center */
  }
  
  /* Optional: Adjust margin between buttons */
  .btn {
    margin-right: 10px; /* Adjust as needed */
  }
  .sub{
    margin-top: 20px;
    
  }

  